$primary-color: #0073DD !default;

$text-color: #fff!default;;
$light-text-color: #ababab!default;
$dark-color: #000!default;
$text-gray: #8D8D8D!default;
$text-gray1: #202020!default;
$text-82: #828282!default;
$text-black-3: #333!default;

$border-gray: #D5D5D5!default;
$background-gray: #F8F8F8;
$background-gray1: #F2F2F2;

$active-color: #FBA187!default;
$un-active-color: #E4E4E4!default;
$button-color: #ff5116!default;
$back-button: #2D3A45!default;

$blank-color: #C9CFED!default;
//#C9CFED
